#login-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
}

#login-page .login-container,
#login-page .asset-container {
  width: 50%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-page .asset-container {
  background: var(--primary);
}

#login-page .login-container .logo-container {
  margin-top: 164px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--primary);
  font-family: var(--font-family-secondary);
}

.login-container .logo-container .logo-text {
  font-size: 64px;
  line-height: 80px;
}

.login-container .logo-container .logo-text-secondary {
  color: var(--secondary);
}

.login-container .logo-container .logo-caption {
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;
}

#login-page .login-container .login-form {
  margin-top: 32px;

  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .login-form .login-input,
.login-container .login-form .login-checkbox {
  margin-bottom: 24px;

  width: 100%;
}

.login-container .login-form .login-button,
.login-container .login-form .login-button button {
  width: 100%;
}

#login-page .asset-container {
  color: var(--background);
  font-size: 27px;
  font-weight: 700;
}

#login-page .asset-container h1 {
  margin-top: 110px;

  text-transform: uppercase;
}

#login-page .asset-container img {
  margin-top: 48px;

  width: 435.5px;
  height: 303px;
}

#login-page .asset-container h2 {
  margin-top: 64px;

  text-transform: none;
}

#login-page .asset-container .logo-text {
  margin-top: 76px;

  font-family: var(--font-family-secondary);
  font-size: 23px;
  line-height: 29px;
}

#login-page .asset-container .logo-text-secondary {
  color: var(--secondary);
}